@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
//font-family: "Courgette", cursive;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  height: 100%;
}
body {
  color: #6f6f6f;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.cler {
  clear: both;
}
.fix {
  overflow: hidden;
}
.block {
  display: block;
}
.container {
  width: 1200px;
}
.img {
  height: auto;
  max-width: 100%;
  transition:
    all 0,
    3s ease-out 0s;
  -webkit-transition:
    all 0,
    3s ease-out 0s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
a {
  transition:
    all 0,
    3s ease-out 0s;
  -webkit-transition:
    all 0,
    3s ease-out 0s;
}
a:focus {
  outline: 0px solid;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #303030;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0 none;
}
a,
button,
input {
  color: #606060;
  outline: medium none;
  transition:
    all 0,
    3s ease-out 0s;
  -webkit-transition:
    all 0,
    3s ease-out 0s;
}
button {
  border: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
label {
    color: #606060;
  font-size: 15px;
  font-weight: 400;
}
*::-moz-selection {
    background: #b3d4fc;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    color: #fff;
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    color: #fff;
    text-shadow: none;
}
.browserupgrade {
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 00;
}
.mark, mark {
    background: #4fc1f0 none repeat scroll 0 0;
    color: #ffffff;
    font-weight: 600;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
p{
    font-size: 14px;
    line-height: 24px;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
::-webkit-input-placeholder {
    color: #969696;
}
::-moz-placeholder {
    color: #969696;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}
:-ms-input-placeholder {
    color: #969696;
}
.default-tbn {
    font-size: 16px;
    font-weight: 700;
    line-height: 44px;
    padding: 0 35px;
    position: relative;
    text-transform: uppercase;
}
.default-btn:before {
    background-color: rgba(0, 0, 0, 1);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0.5, 1);
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1;
}
.default-btn span {
    z-index: 2;
    position: relative;
}
.default-btn:hover span, 
.default-btn:focus span, 
.default-btn:active span {
    color: #fff;
}
.default-btn:hover:before, 
.default-btn:focus:before, 
.default-btn:active:before {
    opacity: 1;
    transform: scale(1, 1);
} 
input,
select,
textarea {
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

/*Text color*/
.text-white {
    color: #fff;
}

/* Inputs */
input, textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    box-shadow: none;
    color: #969696;
    font-size: 14px;
    height: 42px;
    padding-left: 17px;
    width: 100%;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #969696;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #969696;
}
select {
    background: #eceff8;
    border: 2px solid #eceff8;
    box-shadow: none;
    color: #626262;
    font-size: 14px;
    height: 45px;
    padding-left: 10px;
    width: 100%;
}
option {
    background: #fff;
    border: 0px olid #626262;
    font-size: 14px;
    padding-left: 10px;

}
input:focus, textarea:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #f1f1f1;
}
textarea {
    height: 100px;
    padding: 12px 17px;
    resize: vertical;
    width: 100%;
}
#scrollUp {
    background: #000 none repeat scrll 0 0;
    bottom: 30px;
    color: #ffffff;
    cursor: pointer;
    display: none;
    font-size: 30px;
    height: 40px;
    position: fixed;
    right: 25px;
    text-align: center;
    transition: all 0.9s ease 0s;
    width: 38px;
    z-index: 9999;
}
#scrollUp:hover {
    background: #614a3d;
}
.m-0 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.p-0 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

/* Margin Top*/

.mt-0 { margin-top: 0px }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-25 { margin-top: 25px }
.mt-30 { margin-top: 30px }
.mt-35 { margin-top: 35px }
.mt-40 { margin-top: 40px }
.mt-45 { margin-top: 45px }
.mt-50 { margin-top: 50px }
.mt-55 { margin-top: 55px }
.mt-60 { margin-top: 60px }
.mt-65 { margin-top: 65px }
.mt-70 { margin-top: 70px }
.mt-75 { margin-top: 75px }
.mt-80 { margin-top: 80px }
.mt-85 { margin-top: 85px }
.mt-90 { margin-top: 90px }
.mt-95 { margin-top: 95px }
.mt-100 { margin-top: 100px }
.mt-115 { margin-top: 115px }
.mt-120 { margin-top: 120px }
.mt-125 { margin-top: 135px }
.mt-130 { margin-top: 130px }
.mt-135 { margin-top: 135px }
.mt-140 { margin-top: 140px }
.mt-145 { margin-top: 145px }
.mt-150 { margin-top: 150px }

/* Margin Right*/
.mr-0 { margin-right: 0px }
.mr-10 { margin-right: 10px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-30 { margin-right: 30px }
.mr-40 { margin-right: 40px }
.mr-50 { margin-right: 50px }
.mr-60 { margin-right: 60px }
.mr-70 { margin-right: 70px }
.mr-80 { margin-right: 80px }
.mr-90 { margin-right: 90px }
.mr-100 { margin-right: 100px }
.mr-110 { margin-right: 110px }
.mr-120 { margin-right: 120px }
.mr-130 { margin-right: 130px }
.mr-140 { margin-right: 140px }
.mr-150 { margin-right: 150px }

/* Margin bottom */
.mb-0 { margin-bottom: 0px }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-25 { margin-bottom: 25px }
.mb-30 { margin-bottom: 30px }
.mb-35 { margin-bottom: 35px }
.mb-40 { margin-bottom: 40px }
.mb-45 { margin-bottom: 45px }
.mb-50 { margin-bottom: 50px }
.mb-55 { margin-bottom: 55px }
.mb-60 { margin-bottom: 60px }
.mb-65 { margin-bottom: 65px }
.mb-70 { margin-bottom: 70px }
.mb-75 { margin-bottom: 75px }
.mb-80 { margin-bottom: 80px }
.mb-85 { margin-bottom: 85px }
.mb-90 { margin-bottom: 90px }
.mb-95 { margin-bottom: 95px }
.mb-100 { margin-bottom: 100px }
.mb-115 { margin-bottom: 115px }
.mb-120 { margin-bottom: 120px }
.mb-125 { margin-bottom: 135px }
.mb-130 { margin-bottom: 130px }
.mb-135 { margin-bottom: 135px }
.mb-140 { margin-bottom: 140px }
.mb-145 { margin-bottom: 145px }
.mb-150 { margin-bottom: 150px }

/* Margin Left */
.ml-0 { margin-left: 0px }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-30 { margin-left: 30px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
.ml-120 { margin-left: 120px }
.ml-130 { margin-left: 130px }
.ml-140 { margin-left: 140px }
 .ml-150 { margin-left: 150px }

/* Padding Top */
.pt-0 { padding-top: 0px }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-25 { padding-top: 25px }
.pt-30 { padding-top: 30px }
.pt-35 { padding-top: 35px }
.pt-40 { padding-top: 40px }
.pt-45 { padding-top: 45px }
.pt-50 { padding-top: 50px }
.pt-55 { padding-top: 55px }
.pt-60 { padding-top: 60px }
.pt-65 { padding-top: 65px }
.pt-70 { padding-top: 70px }
.pt-75 { padding-top: 75px }
.pt-80 { padding-top: 80px }
.pt-85 { padding-top: 85px }
.pt-90 { padding-top: 90px }
.pt-95 { padding-top: 95px }
.pt-100 { padding-top: 100px }
.pt-115 { padding-top: 115px }
.pt-120 { padding-top: 120px }
.pt-125 { padding-top: 135px }
.pt-130 { padding-top: 130px }
.pt-135 { padding-top: 135px }
.pt-140 { padding-top: 140px }
.pt-145 { padding-top: 145px }
.pt-150 { padding-top: 150px }

/* Padding Right */
.pr-0 { padding-right: 0px }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-25 { padding-right: 25px }
.pr-30 { padding-right: 30px }
.pr-35 { padding-right: 35px }
.pr-40 { padding-right: 40px }
.pr-45 { padding-right: 45px }
.pr-50 { padding-right: 50px }
.pr-55 { padding-right: 55px }
.pr-60 { padding-right: 60px }
.pr-65 { padding-right: 65px }
.pr-70 { padding-right: 70px }
.pr-75 { padding-right: 75px }
.pr-80 { padding-right: 80px }
.pr-85 { padding-right: 85px }
.pr-90 { padding-right: 90px }
.pr-95 { padding-right: 95px }
.pr-100 { padding-right: 100px }
.pr-115 { padding-right: 115px }
.pr-120 { padding-right: 120px }
.pr-125 { padding-right: 135px }
.pr-130 { padding-right: 130px }
.pr-135 { padding-right: 135px }
.pr-140 { padding-right: 140px }
.pr-145 { padding-right: 145px }
.pr-150 { padding-right: 150px }


/* Padding Bottom */
.pb-0 { padding-bottom: 0px }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-25 { padding-bottom: 25px }
.pb-30 { padding-bottom: 30px }
.pb-35 { padding-bottom: 35px }
.pb-40 { padding-bottom: 40px }
.pb-45 { padding-bottom: 45px }
.pb-50 { padding-bottom: 50px }
.pb-55 { padding-bottom: 55px }
.pb-60 { padding-bottom: 60px }
.pb-65 { padding-bottom: 65px }
.pb-70 { padding-bottom: 70px }
.pb-75 { padding-bottom: 75px }
.pb-80 { padding-bottom: 80px }
.pb-85 { padding-bottom: 85px }
.pb-90 { padding-bottom: 90px }
.pb-95 { padding-bottom: 95px }
.pb-100 { padding-bottom: 100px }
.pb-115 { padding-bottom: 115px }
.pb-120 { padding-bottom: 120px }
.pb-125 { padding-bottom: 135px }
.pb-130 { padding-bottom: 130px }
.pb-135 { padding-bottom: 135px }
.pb-140 { padding-bottom: 140px }
.pb-145 { padding-bottom: 145px }
.pb-150 { padding-bottom: 150px }


/* Padding Left */
.pl-0 { padding-left: 0px }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }
.pl-60 { padding-left: 60px }
.pl-70 { padding-left: 70px }
.pl-80 { padding-left: 80px }
.pl-90 { padding-left: 90px }
.pl-100 { padding-left: 100px }
.pl-120 { padding-left: 120px }
.pl-130 { padding-left: 130px }
.pl-140 { padding-left: 140px }
.pl-150 { padding-left: 150px }

/* Padding Section */
.ptb-0 { padding: 0px }
.ptb-10 { padding: 10px }
.ptb-15 { padding: 15px }
.ptb-20 { padding: 20px }
.ptb-30 { padding: 30px }
.ptb-40 { padding: 40px }
.ptb-50 { padding: 50px }
.ptb-60 { padding: 60px }
.ptb-70 { padding: 70px }
.ptb-80 { padding: 80px }
.ptb-90 { padding: 90px }
.ptb-100 { padding: 100px }
.ptb-120 { padding: 120px }
.ptb-130 { padding: 130px }
.ptb-140 { padding: 140px }
.ptb-150 { padding: 150px }

/* Page section margin */
.mtb-0 { margin: 0px }
.mtb-10 { margin: 10px }
.mtb-15 { margin: 15px }
.mtb-20 { margin: 20px }
.mtb-30 { margin: 30px }
.mtb-40 { margin: 40px }
.mtb-50 { margin: 50px }
.mtb-60 { margin: 60px }
.mtb-70 { margin: 70px }
.mtb-80 { margin: 80px }
.mtb-90 { margin: 90px }
.mtb-100 { margin: 100px }
.mtb-120 { margin: 120px }
.mtb-130 { margin: 130px }
.mtb-140 { margin: 140px }
.mtb-150 { margin: 150px }

/* Custom columns */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-12 {float}
.col-1{width: 10%;}
.col-2{width: 20%;}
.col-3{width: 30%;}
.col-4{width: 40%;}
.col-5{width: 50%;}
.col-6{width: 60%;}
.col-7{width: 70%;}
.col-8{width: 80%;}
.col-9{width: 90%;}
.col-10{width: 100%;}

/* background variation set */
.bg-white { background: #fff; }
.bg-light { background: #f1f1f1; }
.bg-koffee { background: #614a3d; }
.transparent-bg { background: transparent; }
.bg-1, .bg-2, .bg-3, .bg-4, .bg-5 {
    background-attachment: scroll;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-1 {
    background-image: url();
}
.bg-2 {
    background-image: url();
}
.bg-3 {
    background-image: url();
    background-position: 55% bottom ;
}
.bg-4 {
    background-image: url();
    background-position: 51% bottom ;
}
.bg-5 {
    background-image: url();
    background-position: right top ;
}
.overlay-1, .overlay-2 {
    position: relative;
}
.overlay-1:before, .overlay-2:before {
    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.overlay-2:before {
    background: rgba(0, 0, 0, 6) none repeat scroll 0 0;
}

/* Sectio Title */
.section-title {
    margin-bottom: 55px;
    position: relative;
}
.section-title > h1 {
    color: #5e5e5e;
    font-family: "courgette" cursive;
    line-height: 37px;
    margin-bottom: 15px;
}
.section-title > span {
    display: block;
    margin-bottom: auto9px;
}
.section-title > p {
    margin: 0;
}

/* Pgination */
.pagination-content .pagination li a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    color: #303030;
    display: block;
    font-size: 13px;
    height: 38px;
    line-height: 42px;
    margin: 0 9px;
    padding: 0;
    text-align: center;
    width: 38px;
}
.pagination-content .pagination li a i {
    font-size: 17px;
}
.pagination-content .pagination li a:hover,
.pagination-content .pagination li.active a {
    background: #ebebeb none repeat scroll 0 0;
}